@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
}

<h2>Projects</h2>
<br />

@if (ViewBag.message != null)
{
    <div class="alert @ViewBag.Alert" role="alert">
        @ViewBag.message
    </div>
}


@foreach (Company_Software_Project_Documentation.Models.Project proj in ViewBag.Projects)
{
    @Html.Partial("ProjectCard", proj)
    <br />
}
<br />

@if (ViewBag.afisareButoane != null && ViewBag.afisareButoane == true && ViewBag.esteEditor || ViewBag.esteAdmin == true)
{
    <a href="@Url.Action("New", "Projects")" class="btn btn-success">Creaza un proiect nou</a>
}


